<!DOCTYPE html>
<head>
    <title>Radha Mohan</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/css/util.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <!-- <script src = "login.js" type="text/javascript"></script> -->
    <!--===============================================================================================-->
</head>
<body id="body">
    <div id="navbar">
        <button class="buttons"><h1>GarbageGrab</h1></button>
        <button class="buttons1" onclick="window.location.href='/insight'"><h1>Insight</h1></button>
        <button class="buttons2" onclick="window.location.href='/login'"><h1>Login</h1></button>
        <button class="buttons3" onclick="window.location.href='/map'"><h1>Map</h1></button>
        
        
        

    </div>
    <div id="register">
        <div class="mainmain" id="indd">

            <div class="wrap-contact100">
                <form class="contact100-form validate-form" method="POST" action="/addname" >
                    <span class="contact100-form-title">
                        Be With Us
                    </span>
    
                    <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                        <input class="input100" type="text" name="uname" placeholder="Full Name">
                        <span class="focus-input100"></span>
                    </div>
    
                    <div class="wrap-input100 validate-input" data-validate = "Please enter your email: e@a.x">
                        <input class="input100" type="text" name="email" placeholder="E-mail">
                        <span class="focus-input100"></span>
                    </div>
    
                    <div class="wrap-input100 validate-input" data-validate = "Please enter your password">
                        <input class="input100" type="password" name="upass" placeholder="password">
                        <span class="focus-input100"></span>
                    </div>
    
                    <div class="wrap-input100 validate-input" data-validate = "Please enter your requirements">
                        <textarea class="input100" name="messagea" placeholder="Your requirments"></textarea>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate = "Please enter your waste">
                        <textarea class="input100" name="messageb" placeholder="Your waste"></textarea>
                        <span class="focus-input100"></span>
                    </div>
    
                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn" id="regForm" onclick="window.location.href='/login'">
                            <span>
                                <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                Register
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    
    
    
        <div id="dropDownSelect1"></div>
    
    <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
        <script src="js/main.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-23581568-13');
    </script>
            </div>
    </div>
</body>
